# Unity
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
[Bb]uild/D3D12/
[Bb]uild/Hyper-Pulse_BurstDebugInformation_DoNotShip/
[Bb]uild/Hyper-Pulse_Data/
[Bb]uild/MonoBleedingEdge/
[Pp]rojectSettings/
[Uu]serSettings/
.vscode/
.vs/


testerika_geom_dash/